* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Raleway;
  font-weight: bold;
  background: #aaa;
  color: white;
}

.container {
  position: relative;
  height: 350px;
  width: 350px;
  margin: 12% auto;
  background: #444;
  border-radius: 50%;
}

.inner-container {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background: #777;
  border-radius: 50%;
  border: 10px solid #444;
}

.btn {
  position: absolute;
  width: 45%;
  height: 45%;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
  transition: all 0.7s;
}

.btn:active {
  transform: translate(12px, 8px);
}

.t-left {
  background: #f44141;
  left: 3.5%;
  top: 3.5%;
  border-radius: 100% 0 0  0;
}

.t-right {
  background: #41f443;
  right: 3.5%;
  top: 3.5%;
  border-radius: 0 100% 0  0;
}

.b-left {
  background: #00edff;
  left: 3.5%;
  bottom: 3.5%;
  border-radius: 0 0 0  100%;
}

.b-right {
  background: #f904f5;
  right: 3.5%;
  bottom: 3.5%;
  border-radius: 0 0 100%  0;
}

.layer-1 {
  position: absolute;
  left: 7%;
  top: 45%;
  width: 87%;
  height: 40%;
}

#screen {
  position: absolute;
  top: 15%;
  width: 25%;
  height: 40%;
  background: #3d090c;
  color: #ff000f;
  text-align: center;
  border: 3px solid black;
  border-radius: 20%;
  font-size: 1.2em;
}

.start {
  position: absolute;
  top: 20%;
  left: 34%;
  height: 28%;
  padding: 2%;
  cursor: pointer;
  background: #41f443;
  border-radius: 20%;
  box-shadow: 2px 2px 1px #333;
  font-size: .8em;
}

.strict {
  left: 63%;
  background: #09d5e5;
}

.on {
  top: 60%;
  left: 40%;
  background: #3d090c;
}

.strict-led {
  position: absolute;
  left: 75%;
  top: 5%;
  height: 8px;
  width: 8px;
  background: #3d090c;
  border-radius: 50%;
}

.start:active, .strict:active, .on:active {
  transform: translate(2px, 3px);
  box-shadow: none;
  opacity: 0.7;
}

.simontxt {
  position: absolute;
  top: 20%;
  left: 12%;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
}

.msg {
  position: absolute;
  top: 35%;
  left: 25%;
  color: #5ff056;
  font-size: 2em;
  border: 1px solid #333;
  padding: 10%;
  background: #999;
  border-radius: 10%;
  display: none;
}

@media screen and (min-width: 600px) {
  .container {
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
